body {
  max-width: 900px;
  width: 100%;
  margin: auto;
  font-family: lato, sans-serif;
  font-weight: 300;
  font-size: 14px; }
  body h2 {
    font-size: 15px; }
  body a {
    color: #2f3542;
    text-decoration-color: #a4b0be;
    text-decoration: none; }
    body a:hover {
      color: #22a6b3; }
  body p {
    margin: 7px; }

.trait {
  width: 98%;
  border-top: solid 1px #a4b0be;
  margin: auto; }

.header {
  background-color: #dfe4ea;
  height: auto;
  display: flex;
  align-items: center;
  color: #2f3542; }
  .header_img {
    width: 100%;
    border-radius: 100%;
    box-shadow: 1px 1px 2px #dfe4ea; }
  .header #photo {
    max-width: 130px;
    margin-right: 30px;
    flex-shrink: 0; }
  .header_box {
    padding: 13px 0px;
    flex-shrink: 1;
    position: relative; }
    .header_box_title, .header_box_text {
      color: #2f3542;
      font-weight: 300;
      opacity: 0.7;
      margin-top: 0px;
      margin-top: 0px;
      margin-left: 105px;
      margin-bottom: 0;
      border-left: solid 1px #22a6b3;
      padding-left: 10px; }
      @media screen and (max-width: 686px) {
        .header_box_title, .header_box_text {
          margin-left: 0px;
          border-left: none;
          padding-right: 10px; } }
    .header_box_title {
      padding-top: 10px; }
    .header_box_name {
      margin-bottom: 0px;
      padding-left: 70px;
      color: #57606f;
      border-bottom: solid 1px #22a6b3; }
      @media screen and (max-width: 686px) {
        .header_box_name {
          padding-left: 10px; } }

.box {
  padding-bottom: 14px; }
  .box > div {
    padding: 0px 20px; }
  .box__langages {
    padding: 0px 27px; }
    .box__langages__items {
      display: flex;
      align-items: center;
      margin: 0px 10px; }
      .box__langages__items i {
        width: 20px;
        color: #2f3542; }
  .box ul {
    margin: 0;
    padding: 0;
    padding-left: 10px; }
  .box li {
    line-height: 24px;
    list-style-type: none; }

.fab {
  font-size: 1.3em; }

.fas {
  font-size: 1em; }

.fa-envelope {
  padding-right: 10px; }

.fa-phone-square-alt {
  font-size: 1.1em;
  padding-right: 12px; }

.contactItems i {
  width: 24px;
  color: #2f3542; }
  @media screen and (max-width: 686px) {
    .contactItems i {
      width: 24px; } }

@media screen and (max-width: 686px) {
  .header {
    flex-direction: column;
    padding-top: 30px;
    text-align: center; }
    .header_box {
      order: 2;
      padding: 10px 0px; }
    .header_img {
      margin: auto; }

  #photo {
    margin-left: 30px;
    order: 1; }

  .box {
    padding-bottom: 14px; }
    .box__langages {
      display: flex;
      flex-wrap: wrap; }
      .box__langages__items {
        width: 150px;
        background-color: white;
        border-radius: 5px;
        margin: 4px auto;
        padding: 0px 0px 0px 20px;
        box-shadow: #57606f 0px 0px 1px; } }
#container {
  display: flex;
  width: 100%;
  min-height: 100%;
  margin: auto;
  color: #2f3542; }
  @media screen and (max-width: 686px) {
    #container {
      flex-direction: column;
      align-items: center; } }
  #container aside {
    width: 32vw;
    background-color: #dfe4ea;
    padding: 0px 0px;
    position: relative; }
    @media screen and (max-width: 840px) {
      #container aside {
        width: 40vw; } }
    @media screen and (max-width: 686px) {
      #container aside {
        width: 100%; } }
    #container aside h2 {
      text-align: center;
      font-weight: 500;
      letter-spacing: 0.7px;
      background-color: #22a6b3;
      padding: 4px 12px;
      margin-top: 0px;
      color: white; }
    #container aside p {
      padding: 0px 0px; }
      @media screen and (max-width: 686px) {
        #container aside p {
          text-align: center; } }
  #container #main {
    width: 68vw;
    height: 253mm;
    padding: 0px 20px;
    border-right: solid 2px #dfe4ea;
    border-bottom: solid 2px #dfe4ea; }
    @media screen and (max-width: 840px) {
      #container #main {
        width: 60vw; } }
    @media screen and (max-width: 686px) {
      #container #main {
        width: 95%;
        border-right: 0px;
        padding: 0px 0px;
        border-bottom: 0px; } }
    #container #main h2 {
      border-bottom: solid 2px #22a6b3;
      font-size: 15px; }
    #container #main p {
      margin: 0px; }
    #container #main a {
      font-size: 10px;
      margin: 0;
      padding: 0; }

.main_items {
  width: 100%;
  padding: 10px 0px; }
  .main_items h4 {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #22a6b3;
    font-weight: 300; }
  .main_items h3 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 14px; }
  .main_items p {
    margin-top: 0px;
    margin-bottom: 2px; }
  .main_items_title {
    display: flex;
    justify-content: space-between; }

/*# sourceMappingURL=style.css.map */
