/////////////
// couleurs
/////////////
$grisfoncé: #2f3542;
$gris: #57606f;
$grisclair:#a4b0be;
$gristresclair:#dfe4ea;
$bleu: #5352ed;
$blanc: #ffffff;
$blancantiflash: #f1f2f6;
$vert: #22a6b3;



/////////////
//body
/////////////
body {
    max-width: 900px;
    width: 100%;
    margin: auto;
    font-family: lato, sans-serif;
    font-weight: 300;
    font-size: 14px;

    h2 {
        font-size: 15px;
    }

    a {
        color: $grisfoncé;
        text-decoration-color: $grisclair;
        text-decoration: none;

        &:hover {
            color: $vert;
        }
    }

    p {
        margin: 7px;
    }
}

.trait {
    width: 98%;
    border-top: solid 1px $grisclair;
    margin: auto;
}


/////////////
// HEADER
////////////

.header {
    background-color: $gristresclair;
    height: auto;
    display: flex;
    align-items: center;
    color: $grisfoncé;

    &_img {
        width: 100%;
        border-radius: 100%;
        box-shadow: 1px 1px 2px $gristresclair;
    }

    #photo {
        max-width: 130px;
        margin-right: 30px;
        flex-shrink: 0;
    }

    &_box {
        padding: 13px 0px;
        flex-shrink: 1;
        position: relative;

        &_title,
        &_text {
            color: $grisfoncé;
            font-weight: 300;
            opacity: 0.7;
            margin-top: 0px;
            margin-top: 0px;
            margin-left: 105px;
            margin-bottom: 0;
            border-left: solid 1px $vert;
            padding-left: 10px;

            @media screen and(max-width: 686px) {
                margin-left: 0px;
                border-left: none;
                padding-right: 10px;
            }
        }

        &_title {
            padding-top: 10px;
        }

        &_name {
            margin-bottom: 0px;
            padding-left: 70px;
            color: $gris;
            border-bottom: solid 1px $vert;

            @media screen and(max-width: 686px) {
                padding-left: 10px;
            }
        }
    }
}

.box {
    padding-bottom: 14px;

    >div {
        padding: 0px 20px;
    }

    &__langages {
        padding: 0px 27px;

        &__items {
            display: flex;
            align-items: center;
            margin: 0px 10px;

            i {
                width: 10%;
                color: $grisfoncé;
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
        padding-left: 10px;
    }

    li {
        // list-style: url(images/tick.svg);
        line-height: 24px;
        list-style-type: none;
    }

}



////////////////////////////
// Contact
////////////////////////////
.fab {
    font-size: 1.3em;
}

.fas {
    font-size: 1em;
}

.fa-envelope{
    padding-right: 10px;
}

.fa-phone-square-alt{
    font-size: 1.1em;
    padding-right: 10px;;
    
}

.contactItems {
    i {
        width: 12%;
        color: $grisfoncé;
    }
}


////////////////////////////
// Media queries under 682px
////////////////////////////
@media screen and(max-width: 686px) {
    .header {
        flex-direction: column;
        padding-top: 30px;
        text-align: center;

        &_box {
            order: 2;
            padding: 10px 0px;
        }

        &_img {
            margin: auto;
        }
    }

    #photo {
        margin-left: 30px;
        order: 1;
    }

    .box {
        padding-bottom: 14px;

        &__langages {
            &__items {
                display: flex;
                align-items: center;
                width: 50%;
                background-color: white;
                border-radius: 5px;
                margin: 4px auto;
                padding: 0px 0px 0px 20px;
                box-shadow: $gris 0px 0px 1px;
            }
        }
    }

}




/////////////////////////////////////////
// Container: colone gauche et droite;
////////////////////////////////////////
#container {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    color: $grisfoncé;

    @media screen and(max-width: 686px) {
        flex-direction: column;
        align-items: center;
    }


    /////////////
    // colonne de gauche
    ////////////
    aside {
        width: 30vw;
        background-color: $gristresclair;
        padding: 0px 0px;
        position: relative;

        @media screen and(max-width: 686px) {
            width: 100%;
        }

        h2 {
            text-align: center;
            font-weight: 500;
            letter-spacing: 0.7px;
            background-color: $vert;
            padding: 4px 12px;
            margin-top: 0px;
            color: white;
        }

        p {
            padding: 0px 0px;

            @media screen and(max-width: 686px) {
                text-align: center;
            }
        }

        // ul {
        //     text-align: ;
        // }
    }

    //    /////////////
    //	// section langages
    //	////////////
    //    
    //    .circle-box{
    //        display: flex;
    //        align-items: center;
    //        padding-left: 20px;
    //        .ronds{
    //            display: block;
    //            width: 10px;
    //            height: 10px;
    //            border-radius: 100%;
    //            background-color:$vert;
    //            border: solid $vert 1px;
    //            margin-right: 5px;
    //            }
    //        .ronds-vides{
    //            display: block;
    //            width: 10px;
    //            height: 10px;
    //            background-color: white;
    //            border-radius: 100%;
    //            border:$vert solid 1px;
    //            margin-right: 5px;
    //            }
    //        }
    //    
    //    .langages_blocs{
    //	    display: flex;
    //        margin: 7px 0px;
    //        align-items: center;
    //        .niveau{
    //        font-size: 11px;
    //        font-style: italic;
    //        }
    //        .langage{
    //            width: 50%;
    //            margin: 3px 0px;
    //        }
    //        p{
    //            margin-bottom: 0px;
    //            margin-top: 0px;
    //        }
    //    }
    //    


    /////////////
    // colonne de droite
    ////////////
    #main {
        width: 70vw;
        height: 253mm;
        padding: 0px 20px;
        border-right: solid 2px $gristresclair;
        border-bottom: solid 2px $gristresclair;

        @media screen and(max-width: 686px) {
            width: 95%;
            border-right: 0px;
            padding: 0px 0px;
            border-bottom: 0px;
        }

        h2 {
            border-bottom: solid 2px $vert;
            font-size: 15px;
        }

        p {
            margin: 0px;
        }

        a {
            font-size: 10px;
            margin: 0;
            padding: 0;
        }

    }
}





/////////////////////////////////////////
// Sections main_items
////////////////////////////////////////

.main_items {
    width: 100%;
    padding: 10px 0px;

    h4 {
        margin-top: 0px;
        margin-bottom: 10px;
        color: $vert;
        font-weight: 300;
    }

    h3 {
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 14px;
    }

    p {
        margin-top: 0px;
        margin-bottom: 2px;
    }

    &_title {
        display: flex;
        justify-content: space-between;
    }
}